{% extends "base.html" %}
{% block script %}
    <script src="https://code.highcharts.com/highcharts.js"></script>
{% endblock %}
{% block content %}

    {% if numberOfPaper > 0 %}
        <h3 class="text-center mb-5 text-decoration-underline">Numbers of papers : {{ numberOfPaper }}</h3>
    {% endif %}


    <select id="selectType" class="form-select" aria-label="Default select example" onchange="changeChartType()">
        <option value="none" selected>Change chart display type</option>
        <option value="bar">bar</option>
        <option value="line">line</option>
        <option value="spline">spline</option>
        <option value="area">area</option>
        <option value="areaspline">areaspline</option>
        <option value="column">column</option>
        <option value="pie">pie</option>
        <option value="scatter">scatter</option>
    </select>

    <div id="molecules" style="width:100%; height:400px;"></div>
    <div id="vaccines" style="width:100%; height:400px;"></div>

    <script>

        function changeChartType() {
            let type = document.getElementById("selectType").value
            if(type == "none") return
            chartMolecule(type)
            chartVaccines(type)
        }

        function chartMolecule(type) {
            const chartMolecules = Highcharts.chart('molecules', {
                chart: {
                    type: type
                },
                colors: ['#058DC7', '#50B432', '#ED561B',
                    '#DDDF00', '#24CBE5', '#64E572', '#FF9655', '#FFF263', '#6AF9C4']
                ,
                plotOptions: {
                    series: {
                        colorByPoint: true
                    }
                },
                title: {
                    text: 'most used molecule'
                },
                xAxis: {
                    categories: {{ molecules|safe }}
                },
                yAxis: {
                    title: {
                        text: 'molecules statistic'
                    }
                },
                series: [{
                    name: "numbers of uses",
                    data: {{ molecules_values|safe }},
                }],
            });
        }

        function chartVaccines(type) {
            const chartVaccines = Highcharts.chart('vaccines', {
                chart: {
                    type: type
                },
                colors: ['#058DC7', '#50B432', '#ED561B',
                    '#DDDF00', '#24CBE5', '#64E572', '#FF9655', '#FFF263', '#6AF9C4']
                ,
                plotOptions: {
                    series: {
                        colorByPoint: true
                    }
                },
                title: {
                    text: 'most used vaccines'
                },
                xAxis: {
                    categories: {{ vaccines|safe }}
                },
                yAxis: {
                    title: {
                        text: 'molucules statistic'
                    }
                },
                series: [{
                    name: "numbers of uses",
                    data: {{ vaccines_values|safe }},
                }],
            });
        }

        document.addEventListener('DOMContentLoaded', function () {

            chartMolecule('bar')
            chartVaccines('bar')
        });


    </script>
{% endblock %}