{% extends "base.html" %}
{% block script %}
    <script src="https://code.highcharts.com/highcharts.js"></script>
{% endblock %}
{% block content %}

    <h3 style="margin-left: 25px">Total numbers of paper : {{ numberOfPaper }}</h3>
    <div id="molecules" style="width:100%; height:400px;"></div>
    <div id="vaccines" style="width:100%; height:400px;"></div>

    <script>
        function getRandomColor() {
            var letters = '0123456789ABCDEF'.split('');
            var color = '#';
            for (var i = 0; i < 6; i++ ) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }
        document.addEventListener('DOMContentLoaded', function () {
            console.log({{ molecules|safe }})
            console.log({{ molecules_values|safe }})

            console.log({{ vaccines|safe }})
            console.log({{ vaccines_values|safe }})

            Highcharts.setOptions({
                colors: ['#058DC7', '#50B432', '#ED561B', '#DDDF00', '#24CBE5', '#64E572', '#FF9655', '#FFF263', '#6AF9C4']
            });
            
            const chartMolecules = Highcharts.chart('molecules', {
                chart: {
                    type: 'bar'
                },
                colors: ['#058DC7', '#50B432', '#ED561B', 
                '#DDDF00', '#24CBE5', '#64E572', '#FF9655', '#FFF263', '#6AF9C4']
                ,
                plotOptions: {
                    series: {
                        colorByPoint: true
                    }
                },
                title: {
                    text: 'most used molecule'
                },
                xAxis: {
                    categories: {{ molecules|safe }}
                },
                yAxis: {
                    title: {
                        text: 'molecules statistic'
                    }
                },
                series: [{
                    name: "numbers of uses",
                    data: {{ molecules_values|safe }},
                }],
            });

            const chartVaccines = Highcharts.chart('vaccines', {
                chart: {
                    type: 'bar'
                },
                colors: ['#058DC7', '#50B432', '#ED561B', 
                '#DDDF00', '#24CBE5', '#64E572', '#FF9655', '#FFF263', '#6AF9C4']
                ,
                plotOptions: {
                    series: {
                        colorByPoint: true
                    }
                },
                title: {
                    text: 'most used vaccines'
                },
                xAxis: {
                    categories: {{ vaccines|safe }}
                },
                yAxis: {
                    title: {
                        text: 'molucules statistic'
                    }
                },
                series: [{
                    name: "numbers of uses",
                    data: {{ vaccines_values|safe }},
                }],
            });
        });


    </script>
{% endblock %}