{% extends "base.html" %}

{% block script %}
    <script>
    function hide(spanTextId, spanLegendId) {
        let spanText = document.getElementById(spanTextId);
        let spanLegend = document.getElementById(spanLegendId);
        if (spanText.style.display === "none") {
            spanText.style.display = "block";
            spanLegend.style.display = "none";
        } else {
            spanText.style.display = "none";
            spanLegend.style.display = "block";
        }
    }
</script>
{% endblock %}

{% block content %}
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Title : {{ paper.get_title }}</li>
        <li class="list-group-item">Sujet : {{ paper.get_subject }}</li>
        <li class="list-group-item">Date : {{ paper.get_year }}</li>
        <li class="list-group-item" onclick="hide('text', 'textShow')">Text :
            <span id="textShow">Cliquez pour afficher le texte</span>
            <span id="text" style="display: none">{{ paper.get_text }}</span>
        </li>
        <li class="list-group-item" onclick="hide('words', 'wordsShow')">Mots les plus utilisés :
            <span id="wordsShow">Cliquez pour afficher les mots les plus utilisés</span>
            <span id="words" style="display: none">{{ paper.get_most_used_words }}</span>
        </li>
    </ul>
{% endblock %}