{% extends "base.html" %}

{% block script %}
    <script>
        function hide(spanTextId, spanLegendId) {
            let spanText = document.getElementById(spanTextId);
            let spanLegend = document.getElementById(spanLegendId);
            if (spanText.style.display === "none") {
                spanText.style.display = "block";
                spanLegend.style.display = "none";
            } else {
                spanText.style.display = "none";
                spanLegend.style.display = "block";
            }
        }
    </script>
{% endblock %}

{% block content %}
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Title : {{ paper.get_title }}</li>
        <li class="list-group-item">Sujet : {{ paper.get_subject }}</li>
        <li class="list-group-item">Date : {{ paper.get_year }}</li>
        <li class="list-group-item" onclick="hide('text', 'textShow')">Text :
            <span id="textShow">Click to display text</span>
            <span id="text" style="display: none">{{ paper.get_text }}</span>
            <form id="form" action="{% url 'paper:index_specific' %}" method="post">
                {% csrf_token %}
                <input name="wordToCompare" id="wordToCompare" value="" type="hidden"/>
            </form>

        </li>
        <li class="list-group-item">Mots les plus utilisés :
            <span id="words"></span>
        </li>

        <script>


            let get_most_used_words = "{{ paper.get_most_used_words }}"
            const words = get_most_used_words.replace(/ /g, '').split(',')
            words.forEach(word => {
                if (word != "") {
                    let strText = document.getElementById("text").innerHTML;
                    let resText = strText.replaceAll(word, "<span style='color:red'>"+word+"</span>");
                    document.getElementById("text").innerHTML = resText;
                    let btn = document.createElement("button");
                    btn.setAttribute("type", "button")
                    btn.classList.add("btn")
                    btn.classList.add("btn-light")
                    btn.style.marginLeft = "10px"
                    btn.innerHTML = word
                    btn.onclick = function (event) {
                        let wordValue = event.target.textContent
                        let input = document.getElementById("wordToCompare")
                        input.value = wordValue
                        document.forms["form"].submit()
                    }
                    document.getElementById("words").appendChild(btn)
                }
            });
        </script>


    </ul>
{% endblock %}